USE [master]
GO
/****** Object:  Database [RegistroVentas]    Script Date: 06/09/2026 20:43:44 ******/
CREATE DATABASE [RegistroVentas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegistroVentas', FILENAME = N'C:\SQLServerArchivos\RegistroVentas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegistroVentas_log', FILENAME = N'C:\SQLServerArchivos\RegistroVentas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistroVentas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistroVentas]
GO
/****** Object:  User [mr_jhendb]    Script Date: 06/09/2026 20:43:44 ******/
CREATE USER [mr_jhendb] FOR LOGIN [mr_jhen] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [mr_jhendb]
GO
ALTER ROLE [db_datareader] ADD MEMBER [mr_jhendb]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [mr_jhendb]
GO
/****** Object:  Table [dbo].[adquisicion]    Script Date: 06/09/2026 20:43:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adquisicion](
	[id_adquisicion] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_distribuidor] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[fecha_adquisicion] [datetime] NOT NULL,
	[fecha_entrega] [datetime] NOT NULL,
	[adquisicion_usuario] [int] NOT NULL,
 CONSTRAINT [PK__adquisic__A99D4519C35BF7BF] PRIMARY KEY CLUSTERED 
(
	[id_adquisicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asignar_rol]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asignar_rol](
	[id_asignar_rol] [int] IDENTITY(1,1) NOT NULL,
	[rol_asigrol] [int] NULL,
	[usuario_asigrol] [int] NULL,
 CONSTRAINT [PK_asignar_rol] PRIMARY KEY CLUSTERED 
(
	[id_asignar_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](20) NULL,
	[apellido] [nchar](20) NULL,
	[sexo] [char](1) NULL,
	[cliente_usuario] [int] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[id_detalle] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[venta_detventa] [int] NOT NULL,
	[producto_detventa] [int] NOT NULL,
	[cantidad] [int] NULL,
	[precio_total] [money] NULL,
	[detalle_usuario] [int] NOT NULL,
 CONSTRAINT [PK_detalle venta] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distribuidor]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distribuidor](
	[id_distribuidor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[telefono] [nchar](9) NOT NULL,
	[direccion] [varchar](50) NULL,
	[fecha_registro] [datetime] NOT NULL,
	[distribuidor_usuario] [int] NOT NULL,
 CONSTRAINT [PK_distribuidor] PRIMARY KEY CLUSTERED 
(
	[id_distribuidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[marca_usuario] [int] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
 CONSTRAINT [PK_marca] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[precio] [money] NULL,
	[stock] [int] NULL,
	[producto_marca] [int] NOT NULL,
	[producto_usuario] [int] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[sexo] [char](1) NULL,
	[dni] [nchar](8) NULL,
	[alias] [varchar](50) NULL,
	[fecha_registro] [datetime] NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 06/09/2026 20:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[cliente_venta] [int] NOT NULL,
	[usuario_venta] [int] NOT NULL,
	[fecha_venta] [datetime] NOT NULL,
	[total_venta] [money] NULL,
 CONSTRAINT [PK_venta] PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adquisicion] ADD  CONSTRAINT [DF_Adquisicion_FechaAdquisicion]  DEFAULT (getdate()) FOR [fecha_adquisicion]
GO
ALTER TABLE [dbo].[cliente] ADD  CONSTRAINT [DF_Cliente_FechaRegistro]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[distribuidor] ADD  CONSTRAINT [DF_Distribuidor_FechaRegistro]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[marca] ADD  CONSTRAINT [DF_Marca_FechaRegistro]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [DF_Producto_FechaRegistro]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF_usuario_FechaRegistro]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[adquisicion]  WITH CHECK ADD  CONSTRAINT [FK__adquisici__id_di__4A8310C6] FOREIGN KEY([id_distribuidor])
REFERENCES [dbo].[distribuidor] ([id_distribuidor])
GO
ALTER TABLE [dbo].[adquisicion] CHECK CONSTRAINT [FK__adquisici__id_di__4A8310C6]
GO
ALTER TABLE [dbo].[adquisicion]  WITH CHECK ADD  CONSTRAINT [FK__adquisici__id_pr__498EEC8D] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[adquisicion] CHECK CONSTRAINT [FK__adquisici__id_pr__498EEC8D]
GO
ALTER TABLE [dbo].[adquisicion]  WITH CHECK ADD  CONSTRAINT [FK_adquisicion_usuario] FOREIGN KEY([adquisicion_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[adquisicion] CHECK CONSTRAINT [FK_adquisicion_usuario]
GO
ALTER TABLE [dbo].[asignar_rol]  WITH CHECK ADD  CONSTRAINT [FK_asignar_rol_rol] FOREIGN KEY([rol_asigrol])
REFERENCES [dbo].[rol] ([id_rol])
GO
ALTER TABLE [dbo].[asignar_rol] CHECK CONSTRAINT [FK_asignar_rol_rol]
GO
ALTER TABLE [dbo].[asignar_rol]  WITH CHECK ADD  CONSTRAINT [FK_asignar_rol_usuario] FOREIGN KEY([usuario_asigrol])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[asignar_rol] CHECK CONSTRAINT [FK_asignar_rol_usuario]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_usuario] FOREIGN KEY([cliente_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_usuario]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle venta_producto] FOREIGN KEY([producto_detventa])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle venta_producto]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle venta_usuario] FOREIGN KEY([detalle_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle venta_usuario]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle venta_venta] FOREIGN KEY([venta_detventa])
REFERENCES [dbo].[venta] ([id_venta])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle venta_venta]
GO
ALTER TABLE [dbo].[distribuidor]  WITH CHECK ADD  CONSTRAINT [FK_distribuidor_usuario] FOREIGN KEY([distribuidor_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[distribuidor] CHECK CONSTRAINT [FK_distribuidor_usuario]
GO
ALTER TABLE [dbo].[marca]  WITH CHECK ADD  CONSTRAINT [FK_marca_usuario] FOREIGN KEY([marca_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[marca] CHECK CONSTRAINT [FK_marca_usuario]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_marca] FOREIGN KEY([producto_marca])
REFERENCES [dbo].[marca] ([id_marca])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_marca]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_usuario] FOREIGN KEY([producto_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_usuario]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_cliente] FOREIGN KEY([cliente_venta])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_cliente]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_usuario] FOREIGN KEY([usuario_venta])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_usuario]
GO
USE [master]
GO
